{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Search Whois for ...</h1>
    <div class="row">
      <div class="col-md-4">
         {{ wtf.quick_form(form) }}
        </div>
    </div>
     <!-- <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.keyword.label }}<br>
            {{ form.keyword(size=32) }}
        </p>
        <p>
            {{ form.days.label }}<br>
            {{ form.days(size=4) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>-->
{% endblock %}
